[submodule "reddift/vendor/KeychainAccess"]
	path = reddift/vendor/KeychainAccess
	url = https://github.com/sonsongithub/KeychainAccess.git
[submodule "reddiftSample/vendor/UZTextView"]
	path = reddiftSample/vendor/UZTextView
	url = https://github.com/sonsongithub/UZTextView.git
[submodule "reddift/vendor/MiniKeychain"]
	path = reddift/vendor/MiniKeychain
	url = https://github.com/sonsongithub/MiniKeychain
