[submodule "reddift/vendor/KeychainAccess"]
	path = reddift/vendor/KeychainAccess
	url = https://github.com/kishikawakatsumi/KeychainAccess.git
[submodule "reddiftSample/vendor/UZTextView"]
	path = reddiftSample/vendor/UZTextView
	url = https://github.com/sonsongithub/UZTextView.git
[submodule "reddiftTests/vendor/Quick"]
	path = reddiftTests/vendor/Quick
	url = https://github.com/Quick/Quick.git
[submodule "reddiftTests/vendor/Nimble"]
	path = reddiftTests/vendor/Nimble
	url = https://github.com/Quick/Nimble.git
